html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.heading{
  color: aliceblue;
  text-shadow: 2px 2px 4px royalblue;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button,
.cta-btn,
.login-btn,
.contact-btn {
  cursor: pointer;
}

button:focus,
a:focus {
  outline: none;
}